/* nav button */
.nav_btn button:hover{
    background: #f0f2f5 !important;
}
.nav_btn button:hover i{
    color: #2534ff !important;
}
.nav_btn-active i {
    color: #2534ff !important;
}
.nav_btn-active {
    position: relative;
}
.nav_btn-active::before {
    content: '';
    position: absolute;
    bottom: -4.5px;
    left: 0;
    transform: translateY(4.5px);
    width: 100%;
    height: 3px;
    border-bottom: 3px solid #2534ff !important;
}

/* scrollbar */
.scrollbar:hover {
    overflow: auto !important;
  }

  /* comment */
.post__comment .accordion-button::after {
    margin-left: 0 !important;
    display: none !important;
  }
  .post__comment .accordion-button:hover {
    background: transparent !important;
    border-color: transparent !important;
  }
  .post__comment .accordion-button:not(.collapsed) {
    background: transparent !important;
  }
  .post__comment .accordion-button:not(.collapsed) {
    box-shadow: none !important;
  }
  @media (min-width: 62em) {
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }


/* Active Manage Topics */
.topic-icon.active {
  color: blue;
}

#manage-topics-text {
  color: blue;
}

.dropdown-item:hover .topic-icon:not(.active) {
  color: blue;
}

/* Responsive */
.table-responsive {
  overflow-x: auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  padding-top: 80px;
  max-width: 97vw;
  overflow-x: hidden;
  padding-left: 27%;
}

.table td,
.table th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media only screen and (max-width: 680px) {
  .main-container {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 15%;
  }

  .logoImage {
    max-width: 120px;
  }

  .input-group {
    display: none;
  }

  .table-responsive {
    width: 100%;
    overflow-x: auto;
  }
}


/* Topic QAC */
.bg-light:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Topic QAC Details */
.bg-gray {
  background-color: #f1f1f1;
}

.text-center {
  text-align: center;
}

.border {
  border: 1px solid #000;
  border-radius: 5px;
}

.font-weight-bold {
  font-weight: bold;
}

.p-2 {
  padding: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.fa-2x {
  font-size: 2rem;
}

.fa-3x {
  font-size: 3rem;
}

a:hover .fa-bell {
  font-size: 4rem;
}

a:hover .border {
  border-color: #f1f1f1;
}

.p-2:hover {
  background-color: #ddd;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 390px) {
  .input-group {
      display: flex;
      align-items: center;
  }
  .input-group input[type="password"] {
      margin-right: 5px;
  }
  .input-group button {
      margin-left: 5px;
  }
}
